server {

    listen 80;
    listen [::]:80;
    server_name {{ matrix_hostname }};
    return 301 https://$server_name$request_uri;
}


server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ matrix_hostname }};

{% for ld in letsencrypt_domains %}
{% if matrix_hostname in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    location /_matrix {
        proxy_pass http://localhost:8008;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}

server {
    listen 8448 ssl http2;
    listen [::]:8448 ssl http2;
    server_name {{ matrix_hostname }};

{% for ld in letsencrypt_domains %}
{% if matrix_hostname in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    location / {
        proxy_pass http://localhost:8008;
        proxy_set_header X-Forwarded-For $remote_addr;
    }
}
